#formWrapper {
	width: 70%;
	margin: 40px 15%;
	float: left;
	background-color: #1C7196;
}

#formWrapper h1 {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0;
	padding: 15px 0;
	background-color: #005073;
}

#errorHolder {
	width: 80%;
	float: left;
	margin: 0 10%;
}

#errorHolder p {
	width: 100%;
	margin: 0;
	color: #FF0000;
	text-align: center;
	background: #005073;
}

.inputContainer {
	width: 80%;
	float: left;
	margin: 20px 10%;
}

.inputContainer h2 {
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	font-weight: 400;
	margin: 0;
	padding: 15px 0;
	background-color: #005073;
	border: 1px solid #000000;
}

.inputRow {
	width: 100%;
	height: 52px;
	padding: 5px 0;
	margin: 0;
	float: left;
	background-color: #005073;
	border: 1px solid #000000;
	border-top: 0;
}

.inputRow label {
	width: 48%;
	float: left;
	padding-left: 10px;
	margin: 17px 0;
	color: #FFFFFF;
}

.inputRow input {
	width: 48%;
	margin: 14px 0;
}

.inputRow select {
	margin: 14px 0;
}

#submitHolder {
	width: 81%;
	float: left;
	margin: 20px 9.5%;
	color: #FFFFFF;
	text-align: center;
}

#submit {
	
}
